{{ $taxonomies := slice
  (dict
    "key" "categories"
    "label" "Categories"
  )
  (dict
    "key" "tags"
    "label" "Tags"
  )
}}
{{ with partialCached "tnd-news/private/GetConfig" "GetConfig" }}
  {{ with .taxonomies }}
    {{ $taxonomies = . }}
  {{ end }}
{{ end }}
{{ $pages := $.Pages }}
{{ if eq .Kind "taxonomy" "term"}}
  {{ $pages = site.RegularPages }}
{{ end }}
{{ $output := slice }}
{{ range $tax := $taxonomies }}
  {{ $terms := slice }}
  {{ $ids := slice }}
  {{ range $pages }}
    {{ range .GetTerms $tax.key }}
      {{ if not (in $ids .Title) }}
        {{ $ids = $ids | append .Title }}
        {{ $terms = $terms | append . }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ with $terms }}
    {{ $output = $output | append (dict
      "key" $tax.key
      "label" $tax.label
      "terms" ($terms)
    ) }}
  {{ end }}
{{ end }}

{{ return $output }}